.container {
  background: transparent url("../../../assets/images/sol_wave_bg.svg") 50% 130%
    no-repeat padding-box;
  opacity: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 50px;
}
