@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:host {
  margin: 20px;
}
.container {
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  width: 390px;
  background-color: #f9f9f9;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 34px;
  box-shadow: 0px 0px 30px #2321321f;
  opacity: 0.8;
  .heading {
    font-weight: 600;
  }
  .content {
    font-weight: 400;
  }
}
.purple {
  background-color: #663399;
  border: 0;
  opacity: 0.8;
  box-shadow: none;
  color: white;
}
